*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(125, 227, 255);
    height: 10%;
}

.kanban-logo{
    height: 5%;
    width: 5%;
}

.navbar h3{
    font-family: "Archivo" , sans-serif;
     padding: 2%;
     font-size: 25px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 7px;
    background-color: rgb(125, 227, 255);
    width: 100%;
    height: 30px;
    border: 3px solid rgb(159, 93, 5);
}

.github-logo{
    width: 2%;
}

.footer a{
    text-decoration: none;
    color: black
}

.sidebar{
    background-color: rgb(125, 227, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 10vw;
    height: 90vh;
}


.sidebar p {
 padding: 15px;
}

.NotFound {
    width: 50vw;
}

.layout{
    display: flex;
    flex-direction: row;
    border: 3px solid purple;
    height: 70vh;
}
.main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    border: 3px solid green;
    width: 100vw;
    height: 70vh;
}

.task-container{
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    align-items: flex-start;
    justify-content: space-around;
    width: 90vw;
    height: 70vh;

}