*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(125, 227, 255);
    height: 10%;
}

.kanban-logo{
    height: 5%;
    width: 5%;
}

.navbar h3{
    font-family: "Archivo" , sans-serif;
     padding: 2%;
     font-size: 25px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 7px;
    background-color: rgb(125, 227, 255);
    width: 100%;
    height: 30px;
}

.github-logo{
    width: 2%;
}

.footer a{
    text-decoration: none;
    color: black
}

.sidebar{
    background-color: rgb(125, 227, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 12vw;
    height: 100vh;
}

.sidebar p {
 padding: 10px;
}