*{
    margin: 0;
    padding: 0;
     font-family: "Rubik", sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgba(181, 147, 226, 1);
    
}

.kanban-logo{
    height: 5%;
    width: 5%;
}

.navbar h3{
    font-family: "Archivo" , sans-serif;
     padding: 2%;
     font-size: 25px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 7px;
   background-color: rgb(141, 219, 238);
    width: 100%;
    height: 30px;
    /* border: 3px solid rgb(159, 93, 5); */
}

.github-logo{
    width: 2%;
}

.footer a{
    text-decoration: none;
    color: black
}

.sidebar{
    background-color: rgba(181, 147, 226, 1);
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 10vw;
    height: 90vh;
    padding-top: 15px;

}

.home-icon {
    width: 40px;
    height: 40px; 
    margin-top: 2px; 
}

.about-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 3px;
}

.add-task-icon{
    width: 25px;
    height: 25px;
    margin-top: 2px; 
    margin-bottom: 10px;
}

.add-task-link p {
    margin-top: 5px;
}

.home-link , .add-task-link, .about-link {
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.sidebar p {
 padding: 15px;
 margin-top: -25px;
}

.NotFound {
    width: 50vw;
    border-radius: 7px;
    border-left: 5px solid rgba(181, 147, 226) ;

}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 20px;
}

.layout{
    display: flex;
    flex-direction: row;
    /* border: 3px solid purple; */
    height: 70vh;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(141, 219, 238);
    justify-items: center;
    /* border: 3px solid green; */
    width: 100vw;
    height: 100vh;
}

.task-container{
    display: flex;
    flex-direction: row;
    /* border: 3px solid red; */
    align-items: flex-start;
    justify-content: space-around;
    width: 90vw;
    height: 70vh;
}

button {
    margin-left: 10px;
    margin-top: 7px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: #efbbf0;

}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: flex-start;
    text-align: left;
    border-left: 5px solid rgba(181, 147, 226, 1);
    height: 45vh;
    width: 30vw;
    margin-top: 30px;
    padding-left: 25px;
    border-radius: 7px;
    box-shadow: 15px 15px 20px #767676;


}

form input {
    border-radius: 7px;
    padding-left: 7px;
    margin-left: 7px;
    margin-bottom: 7px;
    border: 1px solid #efbbf0;;
    border-right: 3px solid #efbbf0;
}


form select {
    border-radius: 7px;
    padding-left: 7px;
    margin-left: 7px;
    border: 1px solid #efbbf0;;
    border-right: 3px solid #efbbf0;
     margin-bottom: 7px;
}
form > button {
    margin-top: 12px;
    width: 10vw;
}

label, input {
    margin-top: 5px;
}

.author-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid teal; */
    width: 70vw;
    height: 20vh;
    margin-top: 2%;
    margin-bottom: 65px;
}

.about-container{
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 70vw;
    height: 70vh;
    /* border: 1px solid hotpink */
}

.task-container h2 {

    text-align: center;
    margin-top: 10px;
}

.to-do, .in-progress, .done {
    height: 75vh;
     font-family: "Rubik", sans-serif;
     font-weight: 300;
    background-color: rgb(255, 255, 255);
    border-radius: 7px; 
    border-left: 5px solid #FFAFCC;
    width: 25%;
    box-shadow: 15px 15px 20px #767676;
    margin-top: 25px;
}

.to-do h2, .in-progress h2, .done h2 {
 font-weight: 400;
}


/* .in-progress{
    box-shadow: 15px 15px 20px #767676;
    margin-top: 20px;
    width: 25%;
    background-color: white;
    border-radius: 7px;
    border-left: 5px solid #FFAFCC;
    height: 80vh;
    padding: 0 7px;
}

.done{
    width: 25%;
    box-shadow: 15px 15px 20px #767676;
    background-color: white;
    border-radius: 7px;
    border-left: 5px solid #FFAFCC;
    height: 80vh;
    padding: 0 7px;
    margin-top: 20px;
} */

.item-details{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 36vh;
    padding: 15px 0 0 15px;
background-color: white;
border-radius: 7px;
border-left: 5px solid rgba(181, 147, 226, 1);
    box-shadow: 15px 15px 20px #767676;
    margin-top: 15px;

}

.item-details p {
    padding: 5px 0; 
    margin-left: 25px;
}

.item-details h2 {
    margin: 10px 0px 15px 10px; 
}


.back-button {
    width: 7vw;
    margin-top: 10px;
    margin-left: 20px;
}

.task{
    margin: 25px 15px;
    cursor: pointer;
    border: 2px solid rgba(181, 147, 226, 1);
    border-left: 5px solid rgba(181, 147, 226, 1);
    padding: 10px;
    border-radius: 7px;

}
.dashboard{
     background-color: rgb(141, 219, 238);
     height: 90vh;
}

.pari-info, .martina-info, .kanban-info {
    background-color: white;
    border-radius: 7px;
}

.pari-info, .martina-info {
    width: 10vw;
    height: 15vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 5px solid #FFAFCC;
}

.author-container a {
    text-decoration: none;
    color: black
}

.kanban-info {
    padding: 15px;
    border-left: 5px solid rgba(181, 147, 226, 1);
}

.kanban-info p {
    padding-top: 10px;
    
}

.kanban-info h2 {
    font-weight: 500;
}



/* blue rgba(148, 223, 242) */
/* pink rgba(253, 209, 245) */
/* purple rgba(181, 147, 226) */ 
/* slightly darker i think rgba(151, 165, 238) */