*{
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(125, 227, 255);
    height: 10%;
}

.kanban-logo{
    height: 5%;
    width: 5%;
}

.navbar h3{
    font-family: "Archivo" , sans-serif;
     padding: 2%;
     font-size: 25px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    gap: 7px;
    background-color: rgb(125, 227, 255);
    width: 100%;
    height: 30px;
    border: 3px solid rgb(159, 93, 5);
}

.github-logo{
    width: 2%;
}

.footer a{
    text-decoration: none;
    color: black
}

.sidebar{
    background-color: rgb(125, 227, 255);
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 10vw;
    height: 90vh;
}


.sidebar p {
 padding: 15px;
}

.NotFound {
    width: 50vw;
}

.layout{
    display: flex;
    flex-direction: row;
    border: 3px solid purple;
    height: 70vh;
}
.main{
    display: flex;
    flex-direction: row;
    justify-items: center;
    border: 3px solid green;
    width: 100vw;
    height: 70vh;
}

.task-container{
    display: flex;
    flex-direction: row;
    border: 3px solid red;
    align-items: flex-start;
    justify-content: space-around;
    width: 90vw;
    height: 70vh;
}

button {
    margin-left: 10px;
    padding: 6px;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 161,146);

}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border: 1px black solid;
    height: 70vh;
    width: 50vw;
}

form > button {
    margin-top: 7px;
    width: 10vw;
}

label, input {
    margin-top: 5px;
}

.author-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid teal;
    width: 70vw;
    height: 20vh;
}

.about-container{
    display: flex;
    flex-direction: column;
   align-items: center;
    width: 70vw;
    height: 70vh;
    border: 1px solid hotpink
}

.to-do {
    height: 70vh;
    
}

.done{
    box-shadow: 15px 15px 20px rgba(60, 122, 61);
    /* background-color: ; */
    height: 70vh;
    padding: 0 7px;
}

.item-details{
    display: flex;
    flex-direction: column;
    width: 86vw;
    border: 1px solid hotpink;
}

.back-button {
    width: 10vw;
    margin-top: 7px;
}

.task{
    margin: 25px 15px;
}